// set colors as variables so they can be globally updated easier
$primary-color: #006342 !default;
$secondary-color: #3d3935 !default;

// top nav bar
$nav-background: #ffffff !default;;

// swatch for nav title
$title-swatch: url("../img/Pattern-Swatch.png") no-repeat;

// text options
$base-text-color: #000 !default;
$base-link-color: #006342 !default;
$base-font-family: 'Lato', sans-serif;